.last {
	padding: 6rem 0rem;

	@include atSmall {
		padding: 4rem 2rem;
	}

	&,
	&__description {
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
		align-items: center;
	}

	&__description {
		width: 100%;
		max-width: 600px;
		text-align: center;
		margin-bottom: 4rem;
		padding: 0 2rem;

		& h2 {
			margin-bottom: 2rem;
		}
	}

	&__content {
		display: flex;
		max-width: 1200px;
		width: 100%;
		margin: 0 auto;
		flex-direction: row;
		align-items: center;

		@include atSmall {
			flex-direction: column;
			max-width: 500px;
		}
	}

	&__single {
		background-color: $dark-white;
		width: 100%;
		margin: 0 2rem;
		height: 400px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 2rem;
	}
}