.visit-gallery {
	margin-top: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 300px;

	@include atSmall {
		margin-top: 3rem;
	}

	&,
	&__content {
		flex-direction: column;
		display: flex;
	}

	&__content {
		height: 100%;
		justify-content: flex-start;
		align-items: center;
		padding: 0 4rem;
		justify-content: center;
		text-align: center;

		& h2,
		& p {
			color: $white;
		}

		& h2 {
			margin-bottom: 0.5rem;
		}

		& p {
			opacity: 0.8;
			margin-bottom: 2.5rem;
		}
	}
}