$black: #282828;

$dark-grey: #232323;
$grey: #737373;
$light-grey: #efefef;
$light-grey-hover: #e8e8e8;

$light-blue: #e9f0f7;
$light-blue-hover: #e0edfb;

$white: #fff;
$dark-white: #f1eff0;
$dark-white-hover: #f3ecf0;
