h1,
h2,
h3 {
	font-family: "Lato", sans-serif;
}

.heading-primary {
	font-size: 5.5rem;
	font-size: 4rem;
	color: $white;
	line-height: 1;
	font-weight: 700;
	margin-bottom: 1rem;

	@mixin atSmall {
		font-size: 4rem;
		line-height: 1.2;
	}
}

.heading-secondary {
	font-size: 3rem;
	color: $black;
	font-weight: 500;

	@include atSmall {
		font-size: 3.5rem;
	}
}

.paragraph {
	font-weight: 300;
	line-height: 2.8rem;
	font-size: 1.7rem;

	@include atSmall {
		font-size: 1.6rem;
	}

	&--light {
		color: $white;
		opacity: 0.7;
	}

	&--dark {
		color: $grey;
	}
}