h1,
h2,
h3 {
	font-family: "Lato", sans-serif;
}
.heading-primary {
	font-size: 5.5rem;
	color: $white;
	line-height: 1;
	font-weight: 700;
	margin-bottom: 1rem;
}
.heading-secondary {
	font-size: 3.5rem;
	color: $black;
	font-weight: 500;
}
.paragraph {
	font-weight: 300;
	line-height: 2.8rem;
	font-size: 1.7rem;
	&--light {
		color: $white;
		opacity: 0.7;
	}
	&--dark {
		color: $grey;
	}
}
